<!doctype html>
<html>
  <head>
    <title>TV Shows</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Tv Shows - <%=shopName%></h1>
    <form method="POST" action="/tvshowssearch">
        <p>Enter a Search Term: <input id="search" type="text" name="text" value="" /></p>
        <input type="submit" value="Submit" />
      </form>
  </body>
</html>